p Welcome to
  a(href="https://findshadowing.com")  FindShadowing.com!

p Thank you for signing up today! We are honored to assist you in finding physicians to shadow on your path to a medical career. Shadowing a physician is a great way to get exposure to the reality of a physician career and an essential component for medical school applications, if you decide to pursue this path. We are here to simplify connect you to nearby physicians willing to allow students to shadow. Getting the most out of your shadowing experience, making connections to shadowing physicians, and getting a letters of recommendation are all up to you. Let’s get started by searching using any relevant filters to locate physicians and start sending requests to shadow.

p Thank you for allowing us to help you find shadowing and feel free to contact us with any issues, concerns or questions.
br
h4 Ryan Gray, M.D.
p Find All My Podcasts at
  a(href = "https://medicalschoolhq.net/meded-media/")  Meded Media