p Welcome to
  a(href="https://findshadowing.com")  FindShadowing.com!

p Thank you for signing up today! We are honor to have your assistance in allowing students to shadow you and allowing us to connect you with students. We are here to simplify the process of connecting physicians to students seeking shadowing experience, and the rest of the shadowing process is up to the physician and student. Your badge photo and account will be manually verified in 3-5 business days and then you will start recieving shadowing requests.

p Thank you for assisting us in helping the future generation of potential physicians and feel free to contact us with any issues, concerns or questions.
br
h4 Ryan Gray, M.D.
p Find All My Podcasts at
  a(href = "https://medicalschoolhq.net/meded-media/")  Meded Media